.btz1{
    margin-left: 20px !important;
}
.dkopbtn {
    background-color:gray;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    position: relative;
  }
  
  .dkopdown {
    position: relative;
    display: inline-block;
    top: 5px;
  }
  
  .dkopdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  .dkopdown-content a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  .dkopdown-content a:hover {background-color: #ddd;}
  
  .dkopdown:hover .dkopdown-content {display: block;}
  
  .dkopdown:hover .dkopbtn {background-color: grey;}
 .form-inline{
     margin-right: 10px;
 }
 
.form21{
    position: relative;
    left: 10px;
    top: 5px;
}
#h51{
    position: relative;
    top: 5px;
  
}
.bg-orange{
  background-color: orange;
}
.a161{
    color: black;
    position: relative;
   top: 10px;
}
.btn-group-lg>.btn, .btn-lg{
    height: 45px !important;
    width: 100px;
    position: relative;
    top: 5px;
}

.container141{
  background-color: white !important;
}
.col12{
  padding-left: 41px !important;
  padding-right: 5px !important;
}
#h411{
  position: relative;
  left: 23px;
}
#h611{
  position: relative;
  left: 24px;
}   