<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <script src="https://kit.fontawesome.com/acfacfc6fa.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Castoro&family=PT+Sans+Narrow&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap" rel="stylesheet">
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css">
        <title>admin panel</title>
      </head>
</head>
<body id="o55">
<div class="wrapper1">
    <div class="sidebar1">
  <h2 id="h288">Manage website</h2>
        <ul>
        <li><a href="admin"><i class="fas fa-shopping-bag"></i>home</a></li>
        <li><a href="profile"><i class="fas fa-user-alt"></i>profile</a></li>
        <li><a href="stocks"><i class="fas fa-project-diagram"></i>stocks and products</a></li>
    </ul>
    <div class="social_media1">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-github"></i></a>
    </div>
    </div>
    
    <div class="main_content">
        <div class="main">
            <div class="responsivepls612">
                <div class="formbox2233">
                    <div class="button-box88">
                        <img src="/117199511_1431843753673368_2527201376718914824_n.jpg" alt="profile photo" class="img1">
                   </div>
                   <button type="button" class="btn btn-success"> <select name="private" id="select133">
                    <option value="public">public</option>
                    <option value="private">private</option>
                </select></button>         
                   <h2 class="h9" align="left">ანდრია</h2>
                   <hr class="hr" >
                   <h2 class="h9" align="left">მინდიაშვილი</h2>
                   <hr class="hr">
                   <h2 class="h9" align="left">+1 23451253</h2>
                   <hr class="hr">
                   <h2 class="h9" align="left">საქართველო თბილისი</h2>
                   <hr class="hr">
                   <p id="p177">add bio</p>
                 <textarea align="left" name="bio" id="textarea" cols="30" rows="10"></textarea>
                 <button type="button" class="btn btg12 btn-success">Save</button>

                </div>
            </div>
            </div>
    </div>
</div>

     <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
</body>
</html>