<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start - Massive</title>
    <link rel="stylesheet" href="style.css">
</head>
<body bgcolor="black">
    <form class="forma">
        <input type="search">
        <button type="submit" name="Search">Search</button>
        </form>
        <div align="right"><a style="width: 50px;height: 50px; font-size: 50px;" class="bi bi-x Exit" id="exit" href="/">X</a></div>
      
</body>
</html>